<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>330914993940-2v3dp8e2afkk4j1jina9ehohajpe72hi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330914993940-2v3dp8e2afkk4j1jina9ehohajpe72hi</string>
	<key>API_KEY</key>
	<string>AIzaSyD2-x-iMk_emIarRkU11jJGfWPqCskOHtg</string>
	<key>GCM_SENDER_ID</key>
	<string>330914993940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foxgamestudio.Acorn-It</string>
	<key>PROJECT_ID</key>
	<string>acorn-it</string>
	<key>STORAGE_BUCKET</key>
	<string>acorn-it.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:330914993940:ios:30501c4af957146c</string>
	<key>DATABASE_URL</key>
	<string>https://acorn-it.firebaseio.com</string>
</dict>
</plist>
